.step {
    display: flex;
    column-gap: 20px;
    align-items: center;

    &.active {
        .step__counter {
            background-color: $blue-50;
            color: $blue-950;
            font-weight: $font-weight-bold;
        }
    }

    &__counter {
        border: 1px solid $blue-50;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        row-gap: 5px;
    }

    &__number {
        opacity: 0.6;
    }

    &__label {
        font-weight: $font-weight-medium;
    }

    @media screen and (max-width: 768px){
        &__info {
            display: none;
        }
    }
}